/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.container.small {
  max-width: 900px;
}
ul {
  list-style-type: none;
}
.row {
  display: flex;
}
a {
  color: inherit;
  text-decoration: none;
}
.row.negative {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

/* UTILITY */
.button {
  background-color: blue;
  color: white;
  padding: 0.8rem 1rem;
  border: 0px solid currentColor;
  font-size: inherit;
}
[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}
.col-1-1 {
  width: calc(200% / 3);
  /* width: 600px; */
  position: relative;
}
.col-1-3 {
  width: calc(100% / 3);
}

/* HEADER */
header {
  padding: 1.5rem 2rem;
  font-size: 18px;
}
header .row {
  justify-content: space-between;
}
li {
  display: inline-block;
  margin: 0rem 1.5rem;
}

.header-item {
  display: flex;
  align-items: center;
}
/* MAIN */

/* MAIN HEADER */
.main-header {
  background-color: #b4d0e6;
  min-height: 700px;
  padding-top: 100px;
}
h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 6rem;
  margin-bottom: 40px;
}
main p {
  margin: 30px 0px;
}
.jumbo {
  margin: 30px 0px;
  position: absolute;
}
/* MAIN PLANS */
.container.small {
  padding: 200px 0px;
}
main h2 {
  font-size: 2.5rem;
}
